.swiper-wrapper {
  height: 250px;
}
ion-avatar {
  height: 120px;
  width: 90%;
}
ion-avatar img {
  height: 90px;
  width: 90px;
}

ion-avatar span {
  font-size: small;
}

.square-avatar {
  --border-radius: 0;
}
